@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NonAuthenticatedLayout.cshtml";
}


<div class="row-fluid">
    <!--Top large image starts here-->
    <div class="span12">
        <img src="~/images/UOG.jpg" width="100%" height="auto" />
    </div>
</div>

<div class="row-fluid">
    <!--bottom informations starts here-->
    <div class="span12">
        <div class="row-fluid">
            <div class="span4">
                <h2>View Students</h2>
                <p>
                    Here we have information about your students and individual student project works, course materials, assesments and much more...
                </p>
                <p><a class="btn btn-default" href="/User/Students">View More &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>View Projects</h2>
                <p>
                    Here we have information about individual student project works, course materials, assesments, submission links and much more...
                </p>
                <p><a class="btn btn-default" href="/Project">View More &raquo;</a></p>
            </div>
            <div class="span4">
                <h2>View Reports</h2>
                <p>
                    Here we have reports on different aspects like report of number of messages in last 7 days, report of students with no interaction for 7 days and 28 days...
                </p>
                <p><a class="btn btn-default" href="/User/List">View More &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<br />
<!--Large image ends here-->

<br /><br />
<!--bottom informations ends here-->
